/* src/components/Footer.css */

footer {
    background-color: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    color: #fff;
    transition: color 0.3s;
  }
  
  footer a:hover {
    color: #ffcc00; /* Cor dourada */
  }
  
  /* Pode ser interessante adicionar um efeito de transição suave nos links */
  