@keyframes textHighlight {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
  
  .animate-textHighlight {
    background: linear-gradient(90deg, #ffffff 0%, #d4af37 50%, #ffffff 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    color: transparent; 
    animation: textHighlight 3s infinite linear;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1); 
    }
  }
  
  .pulse-logo {
    animation: pulse 2s infinite ease-in-out; 
  }