/* Header.css */
@keyframes textHighlight {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
  
  .animate-textHighlight {
    background: linear-gradient(90deg, #ffffff 0%, #d4af37 50%, #ffffff 100%);
    background-size: 200% 100%; /* Ajuste o tamanho do gradiente */
    background-position: 100% 0; /* Começo do gradiente fora da tela */
    -webkit-background-clip: text;
    color: transparent; /* Deixa o texto transparente para o gradiente aparecer */
    animation: textHighlight 3s infinite linear; /* Animação suave e contínua */
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); /* Aumenta um pouco */
    }
    100% {
      transform: scale(1); /* Retorna ao tamanho original */
    }
  }
  
  .pulse-logo {
    animation: pulse 2s infinite ease-in-out; /* Animação suave e infinita */
  }