.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}


/* Animação de piscada para o logo */
@keyframes blinkLogo {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.furia-logo {
  animation: blinkLogo 1s infinite;
}

/* Animação de troca de cores para o texto "FURIA Pulse" */
@keyframes textHighlight {
  0% {
    color: white;
  }
  50% {
    color: #d4af37; /* Dourado */
  }
  100% {
    color: white;
  }
}

.animate-textHighlight {
  animation: textHighlight 2s infinite;
}
